.callout[data-callout*="col"] {
    border-left: 0;
    background-color: transparent;
    box-shadow: none;
}

.callout[data-callout*="col"] .callout-title {
    display: none;
}

.callout[data-callout*="col"] .callout {
    overflow: visible;
    margin: 0;
}

.callout[data-callout*="col5"]>.callout-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
}

.callout[data-callout*="col4"]>.callout-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
}

.callout[data-callout*="col3"]>.callout-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

.callout[data-callout*="col2"]>.callout-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}


/** ------- nested callout note for culumns ----- **/

.callout[data-callout="notecol"] {
    --callout-color: 255, 214, 226;
    border-left: 0;
}

.callout[data-callout="notecol"] .callout-content {
    border: none;
    padding: none;
}

.callout[data-callout="notecol"] .callout-title {
    background-color: rgba(var(--callout-color), 0) !important;
    display: inline !important;
}


/*** nested callout note for culumns | image used as tittle + centered ***/

.callout[data-callout="notecol"] .callout-title img {
    border-radius: 0.25em !important;
    margin: auto;
    display: block;
}


/*** nested callout note for culumns | icon NOT displayed ***/

.callout[data-callout="notecol"] .callout-icon {
    display: none !important;
}

.callout[data-callout*="col5"] * .callout[data-callout~=infobox] .callout-content{
    height: 100%;
}

.callout[data-callout*="col5"] .callout[data-callout~=infobox] img {
    height: 10em;
    width: 10em;
}

/*** nested callout note for culumns | h3 header always in the center ***/

.callout[data-callout="notecol"] {
    background-color: transparent;
}

.callout[data-callout="notecol"] .callout-content {
    margin: 0;
    overflow: visible;
    padding: 0 0.3em 0 0.3em;
    border: none;
    border-radius: 13px;
}

.callout[data-callout="notecol"] .callout-content h3 {
    text-align: center;
    padding-top: 0.2em;
    padding-top: 0;
    margin-top: 0;
    font-family: 'Snippet';
    font-weight: normal;
    color: var(--font-normal);
}


/*** nested callout note for culumns | divider "---" has no margin ***/

.callout[data-callout="notecol"] .callout-content hr {
    margin: 0;
}


