.comments {
    display: none;
}
#right, .text-right {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-weight: normal;
}

#u {
	text-align: center;
	display: block;
}

.text-center {
    text-align: center;
    display: block;
    font-style: normal;
    padding: 2.5em;
}